.btn-style-four {
	/* background-color: #f20487; */
	background-color: #f20487;
	text-decoration: none;
	/* font-weight: 400;
	text-transform: uppercase;
	min-width: 160px;
	text-align: center;
	border-radius: 10px;
	padding: 10px 30px;
	margin-top: 50px; */
}

.button:hover {
	text-decoration: none;
	background-color: #12114a;
}
