/* @import url('../../globalStyles.css'); */
.heading {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 700 !important;
	font-size: 35 !important;
}

.text {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 500 !important;
	font-size: 25 !important;
}

.body {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 400 !important;
	font-size: 13 !important;
}

.gradient {
	background: linear-gradient(
		225deg,
		rgba(151, 108, 243, 1),
		rgba(49, 79, 219, 1)
	) !important;
}

.gradient-text {
	background: linear-gradient(
		225deg,
		rgba(151, 108, 243, 1),
		rgba(49, 79, 219, 1)
	) !important;
	background-clip: text !important;
	color: transparent !important;
}

.white {
	color: #faf7f2 !important;
}

.background-white {
	background-color: #faf7f2 !important;
}

.green {
	color: #04bc81 !important;
}

.background- {
	background-color: #04bc81 !important;
}

.yellow {
	color: #edd504 !important;
}

.background-yellow {
	background-color: #edd504 !important;
}

.black {
	color: #0e141b !important;
}

.background-black {
	background-color: #0e141b !important;
}

.blue {
	color: #4a64d7 !important;
}

.background-blue {
	background-color: #4a64d7 !important;
}

.violet {
	color: #976cf3 !important;
}

.bcolor {
	color: #0e141b !important;
}

.background-violet {
	background-color: #976cf3 !important;
}

.dark-text {
	color: #565656 !important;
}

.a {
	text-decoration: none !important;
}

.link {
	cursor: pointer !important;
}

.header {
	background-color: rgba(32, 33, 36, 0.9);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.container {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 5vh;
}

.circle-border-invisible {
	border-style: solid;
	border-radius: 50px;
	border-width: 0px;
	border-color: rgba(151, 108, 243, 1);
	height: 45px;
	margin: 5px;
	margin-right: 48%;
	margin-left: 48%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.circle-border {
	border-radius: 50px;
	height: 45px;
	margin: 5px;
	margin-right: 48%;
	margin-left: 48%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

@keyframes fadeIn {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

.selected-gradient {
	animation: fadeIn 0.7s;
	-webkit-animation: fadeIn 0.7s;
	-moz-animation: fadeIn 0.7s;
	-o-animation: fadeIn 0.7s;
	-ms-animation: fadeIn 0.7s;
	background: linear-gradient(
		225deg,
		rgba(151, 108, 243, 1),
		rgba(49, 79, 219, 1)
	) !important;
}

.unselected-gradient {
	background: linear-gradient(
		225deg,
		rgba(151, 108, 243, 0),
		rgba(49, 79, 219, 0)
	) !important;
}

.children {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sidebar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.elements {
	margin: 5px;
	padding: 10px;
}

.no-border {
	border: none;
}

.fullWidth {
	max-width: 100vw;
}

.title {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 500 !important;
	font-size: 19px !important;
}

.underline-violet {
	border-bottom: 3px solid #976cf3;
}

.underline-green {
	border-bottom: 3px solid #04bc81;
}

.underline-yellow {
	border-bottom: 3px solid #edd504;
}
