.container {
	width: 100vw;
	position: relative;
	display: flex;
	/* justify-content: space-between; */
	/* flex-wrap: wrap; */
	margin: 0;
	background: transparent;
}
.root_container {
	/* background-image: url(https://c4.wallpaperflare.com/wallpaper/418/819/597/planets-stars-universe-ringed-planet-wallpaper-preview.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
	
	background-color: black;
	min-width: 100vw;
	height: 100%;
	padding: 100px 0;
}

.container .card_time {
	position: relative;
}
.container .card_time .face {
	width: 400px;
	height: 200px;
	transition: 0.4s;
}
.container .card_time .face.face1 {
	position: relative;
	background: rgb(60, 32, 97);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
}
.container .card_time:hover .card_time1 {
	transform: translateY(0);
	box-shadow: 0 0 50px #0097f6;
	background-color: #0097f6;
}
.container .card_time:hover .card_time2 {
	transform: translateY(0);
	box-shadow: 0 0 50px #943df6;
	background-color: #943df6;
}
.container .card_time:hover .card_time3 {
	transform: translateY(0);
	box-shadow: 0 0 50px #f7db4d;
	background-color: #f7db4d;
}
.container .card_time .face.face1 .content {
	opacity: 0.2;
	transition: 0.5s;
	text-align: center;
}
.container .card_time:hover .face.face1 .content {
	opacity: 1;
}
.container .card_time .face.face1 .content i {
	font-size: 3em;
	color: white;
	display: inline-block;
}
.container .card_time .face.face1 .content h3 {
	font-size: 1em;
	color: white;
	text-align: center;
}
.container .card_time .face.face1 .content a {
	transition: 0.5s;
}
.container .card_time .face.face2 {
	position: relative;
	background: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
	transform: translateY(-100px);
}
.container .card_time:hover .face.face2 {
	transform: translateY(0);
}
.container .card_time .face.face2 .content p,
a {
	font-size: 10pt;
	margin: 0;
	line-height: 22px;
	text-decoration: none;
	padding: 0;
	color: #333;
}
.container .card_time .face.face2 .content .link {
	color: #00c;
}
.container .card_time .face.face2 .content .btn {
	text-decoration: none;
	color: black;
	box-sizing: border-box;
	outline: 1px double #333;
	padding: 10px;
	margin: 15px 0 0;
	display: inline-block;
}
.container .card_time .face.face2 .content .btn:hover {
	background: #333;
	color: whitesmoke;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}



.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}



.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li{
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
    list-style: none;
}
.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}


.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}

.noi_dung{
    padding-bottom: 20px;
}



.timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(97, 123, 227, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(97, 123, 227, 0.2);
}

.timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(97, 123, 227, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(97, 123, 227, 0.2);
}

.timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: rgba(97, 123, 227, 1);
}

.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
}
.timeline ul li .thoi_gian h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.timeline ul li:nth-child(odd) .thoi_gian{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(97, 123, 227, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(97, 123, 227, 0.4);
}

.timeline ul li:nth-child(even) .thoi_gian{
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(97, 123, 227, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(97, 123, 227, 0.4);
}
