img {
    width: 70% !important;
    height: auto;
}

.eventPage__container {
    /* position: absolute; */
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
    color: #ffff;
    width: 67%;
    height: 30rem;
    /* top: 0; */
    font-size: 25px;
    font-weight: medium;
    z-index: 0 !important;
}

.eventPage__description {
    background-color: rgba(0, 0, 0, 0.9)!important;
    padding: 2rem 1rem;
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
}

.eventPage__image-container {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eventPage__image-container .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
    opacity: 0.7;
}

.eventPage__description-overview {
    font-size: 20px;
}

img {
    width: 100%;
    height: auto;
}

@media all and (max-width: 1130px) and (min-width: 956px) {
    .eventPage__container {
        min-width: 700px;
        height: 23rem;
        top: 0;
    }
    .eventPage__description {
        display: flex;
        flex: 1;
        font-size: 23px;
        font-weight: medium;
    }
    .eventPage__image-container {
        display: flex;
        flex: 1;
    }
    .eventPage__description-overview {
        font-size: 20px;
    }
}

@media all and (max-width: 955px) and (min-width: 800px) {
    .eventPage__container {
        font-size: 22px;
        min-width: 700px;
    }
    .eventPage__description-overview {
        font-size: 17px;
    }
}

@media all and (max-width: 799px) and (min-width: 700px) {
    .eventPage__container {
        width: 80%;
        min-width: 600px;
        font-size: 22px;
        top: 0;
    }
    .eventPage__description-overview {
        font-size: 17px;
    }
}

@media all and (max-width: 699px) {
    .eventPage__container {
        /* flex-direction: column; */
        flex-direction: column-reverse;
        height: fit-content;
    }
    .eventPage__description {
        width: 100%;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        overflow: hidden;
    }
    .eventPage__image-container {
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        overflow: hidden;
    }
}

@media all and (max-width: 699px) and (min-width: 425px) {
    .eventPage__container {
        width: 70%;
        max-width: 400px;
        min-width: 350px;
        overflow: hidden;
        top: 200px;
        padding-bottom: 5rem;
        font-size: 23px;
    }
    .eventPage__description {
        height: 300px;
        display: block;
        overflow: hidden;
    }
    .eventPage__image-container {
        height: 300px !important;
        overflow: hidden;
    }
    .eventPage__description-overview {
        font-size: 17px;
    }
    img {
        height: 300px;
    }
}

@media all and (max-width: 425px) {
    .eventPage__container {
        width: 85vw;
        max-width: 400px;
        /* min-width: 350px; */
        overflow: hidden;
        top: 120px;
        padding-bottom: 5rem;
        font-size: 20px;
    }
    .eventPage__description {
        height: 280px !important;
        display: block;
        overflow: hidden;
    }
    .eventPage__image-container {
        height: 280px !important;
        overflow: hidden;
    }
    .eventPage__description-overview {
        font-size: 16px;
    }
    img {
        height: 280px !important;
    }
}